@charset "UTF-8";
* { box-sizing: border-box; margin: 0; }
html { font-size: 14px; }
a { color:#575757; text-decoration:none; outline:0; }
a:hover { color: blue; }
li { list-style: none; }
.both { overflow: hidden; }
.both:before, .both:after { content: " "; display: block; }
.both:after { clear: both; }
.floatleft { float: left; }
.floatright { float: right; }
/* board.css */
.table {
	width: 600px;
	margin: 0 auto;
}
.table li {
	min-width: 100px
}
/* head.css */
header {
	width: 100%;
	height: 80px;
	line-height: 80px;
	padding: 0 40px;
	background-color: rgba(245,245,245,0.9);
}
/* nav.css */
#nav li {
	margin-left: 20px;
	padding: 0 5px;
	float: left;
}
/* foot.css */
footer {
	color: #ccc;
	width: 100%;
	padding: 15px;
	background-color: #555;
}
/* about */
#about {
	width: 600px;
	padding: 15px 0;
	margin: 0 auto;
}
#skill {
	width: 100%;
	background-color: #eee;
}
.skill {
	width: 780px;
	padding: 15px 30px;
	margin: 0 auto;
}
.skill li {
	width: 360px;
	padding: 5px;
}