@charset "UTF-8";
.contant > .container {
	width: 750px;
}
@media screen and (max-width: 768px) { /* <= 768px */
	.contant > .container {
		width: 100%;
	}
}
article:first-child {
	padding-top: 20px;
}
article {
	padding: 10px 0;
}
/* modal */
.modal-header, .modal-title, .close {
	text-align: center;
	font-size: 30px;
}
#modalLogin .modal-header {
	background-color: #5cb85c;
	color: white !important;
}
.modal-title {
	padding: 15px 25px;
}
/* board list */
.subject span:hover {
	cursor: pointer;
}