@charset "UTF-8";
*,
*:after,
*::before { box-sizing: border-box; margin: 0; }
html { font-size: 14px; }
body { padding-top: 60px; }
a { color:#575757; text-decoration:none; outline:0; }
a:hover { color: blue; }
li { list-style: none; }
.both { overflow: hidden; }
.both:before, .both:after { content: " "; display: block; }
.both:after { clear: both; }
.floatleft { float: left; }
.floatright { float: right; }
.center { margin: 0 auto; }
/* foot.css */
footer {
	color: #ccc;
	padding: 2em;
	background-color: #555;
}
footer p {
	font-size: 1.2em;
}
