.diff_content {
	display: block;
	width: 840px;
	margin: 0 auto;
}
.diff_text {
	width: 400px;
}
ol.diff_text {
	padding-left: 40px;
	padding-right: 10px;
	line-height: 22px;
}
ol.diff_text li {
	white-space: nowrap;
	/* text-overflow: ellipsis; */
}
ol.diff_text div {
	height: 22px;
}
form textarea, .diff_content textarea {
	width: 100%;
	height: 300px;
	padding: 10px;
	resize: none;
	border: 1px solid #aaa;
}
form input[type=submit] {
	font-size: 24px;
	padding: 5px 10px;
	border: 1px solid #aaa;
}
/* LCS table */
.table_style ul {
	display: table-row;
}
.table_style .header {
	border-top: 1px solid #aaa;
}
.table_style li {
	width : 2em;
	height : 1.6em;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.table_style li:first-child {
	border-left: 1px solid #aaa;
}
/* Diff cheak color */
.diff .add {
	background-color: #9f9;
}
.diff .del {
	background-color: #f88;
}
.diff .blank {
	background-color: #888;
}
.diff .unchanged {
	background-color: yellow;
}